body {
    background-image: url('https://external-preview.redd.it/crysis-sunset-landscape-with-god-rays-turned-on-to-maximum-v0-UxDVgUUegOBlShXCKOwvXTa2a_epR_1WShcy95LH_Bo.jpg?width=640&crop=smart&auto=webp&s=906dde11446b861795a75d959d632260958f1c05');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

div{
    color: white;
}

th{
    padding: 20px;
    font-size: 18px;
}


.Main-background-box {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: height 20px;
    height: 100vh;
    border-radius: 20px;
    background-color: color-mix(rgb(32, 69, 98), rgb(0, 0, 0));
}